/* Миксины */
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin full-size {
    height: 100vh;
    width: 100vw;
}

@mixin header-style {
    width: 100%;
    min-height: 88px !important;
    background: #27272A;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    @include flex-column;
}

@mixin header-section {
    min-height: 44px !important;
    @include flex-row;
    align-items: center;
    background: #27272A;
    border-bottom: 1px solid #515151;
}

@mixin typography-style($font-size) {
    font-size: $font-size !important;
    color: #A1A1AA;
    height: 44px;
    background: #27272A;
    margin: 0 10px !important;
    border: none !important;
    display: flex;
    align-items: center;
}

@mixin size($height, $width) {
    height: $height;
    width: $width;
}

body {
    margin: 0;
    @include full-size;

    > #root {
        @include flex-column;
        height: inherit;
        width: inherit;
    }
}

.app-container {
    @include flex-column;
    height: 100vh;
}

.header {
    @include header-style;
}

.header-top {
    @include header-section;
}

.header-bottom {
    @include header-section;
}

.typography {
    @include typography-style(14px);
}

.typography2 {
    @include typography-style(10px);
}

.typography:focus {
    color: white;
    border-bottom: 2px solid white !important;
}

.header-bottom-content {
    @include flex-row;
    height: 44px;
    width: 209px;
    border-right: 1px solid #515151;
    justify-content: space-between;
}

.header-bottom-arrow {
    @include flex-column;
}

.arrow-down {
    @include size(24px, 24px);
    padding-top: 10px;
}

.top-menu-img {
    @include size(24px, 24px);
    margin-right: 20px;
}

.left-menu-img {
    @include size(22px, 22px);
    margin-right: 20px;
}
.menu-img {
    @include size(22px, 22px);
}

.header-bottom-content2 {
    height: 44px;
    color: white;
    padding: 0 20px;
    font-size: 18px !important;
    border-right: 1px solid #515151;
    display: flex;
    align-items: center;
}

.main-content {
    display: flex;
    flex-grow: 1;
    margin-top: 90px;
    background: #202124;
}

.content {
    flex-grow: 1;
    margin-left: 0;
    width: calc(100% - 234px);
}

.table-container {
    width: 100%;
}

.drawer {
    width: 234px;
    flex-shrink: 0;
}

.drawer .MuiDrawer-paper {
    width: 234px;
    box-sizing: border-box;
    top: 89px;
    height: calc(100vh - 88px);
    background: #27272A;
    color: white;
    border-right: 1px solid #515151;
    border-top: 1px solid #515151;
}

.list-item {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 14px !important;
}

.tree-cell {
    position: relative;
}

.tree-connector {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.tree-connector::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -40px;
    width: 1px;
    height: calc(100% + 27px); // Увеличиваем высоту линии
    background-color: #ccc;
}

.tree-connector::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    width: 15px;
    height: 1px;
    background-color: #ccc;
}

.tree-row:first-child .tree-connector::before {
    top: 50%;
    height: 50%;
}

.text-field {
    border-radius: 8% !important;
}

